<a href="#" title="Logo">
                    <img src="images/logo.png" alt="Logo" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="{{url_for('home')}}">Home</a>
                    </li>
                    <li>
                        <a href="#abt">About us</a>
                    </li>
                    
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="{{url_for('login')}}"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></a>
                    </li>
                    <li>
                        <a href="{{url_for('register')}}">Register</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->
    <section class="food-search ">
       <div class="container">
        <div class="imge">
        <h3 class="content"> GET YOUR <br>NUTRITIONS CHECK<br> WITH NUTRIFY</h3>
    </div>
    </div>
    </section>

     <!-- CAtegories Section Starts Here -->
     <section id="abt" class="categories">
        <div class="container">
            <h2 class="text-center">Reset Password</h2>

 
        <form action="/frgpwd" method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>               
            </div>
 
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>

                <label><b>Old password</b></label>
                <input type="text" placeholder="Enter old password" name="oldpassword" required>
 
                <label><b>New password</b></label>
                <input type="password" placeholder="Enter new password" name="newpassword" required>

                <label><b>Confirm password</b></label>
                <input type="text" placeholder="Enter confirm password" name="confirmpwd" required>

                <button type="submit">Submit</button>
                <input type="checkbox" checked="checked"> Remember me
                <br>
                <p>{{msg}}</p>
            </div>
 
            
        </form>
    </div>
 
    <script>
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    </div>
</section>
 <!-- social Section Starts Here -->
 <section id="contact" class="social">
    <div class="container text-center">
        <ul>
            <li>
                <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
            </li>
            <li>
                <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
            </li>
            <li>
                <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
            </li>
        </ul>
    </div>
</section>
<!-- social Section Ends Here -->

<!-- footer Section Starts Here -->
<section id="contact" class="footer">
    <div class="container text-center">
        <p>All rights reserved.</p>
        <p>+91 9876431349</p>
    </div>
</section>
<!-- footer Section Ends Here -->

</body>
</html>
